@import "../../assets/styles/styles";

@keyframes showMenu {
  0% {
    width: 60px;
  }

  100% {
    width: 350px;
  }
}

@keyframes hideMenu {
  0% {
    width: 350px;
  }
  100% {
    width: 60px;
  }
}

.menuContainer {
  min-height: 950px;
  height: 100vh;
  background-color: $secondary-color;

  &Active {
    z-index: 999;
    width: 350px;
    animation: showMenu 0.7s ease;
    background-color: $secondary-color;
  }

  &Disabled {
    z-index: 999;
    width: 50px;
    animation: hideMenu 0.3s ease;
    background-color: $secondary-color;
  }
}

.menuLabel {
  background-color: $primary-color;
  width: 100%;
  height: 45px;
  display: inline-flex;
  justify-content: flex-start;
}

.inuptGroup {
  margin: .5rem 0;
}

.listSearch {
  list-style: none;
  padding: 0;
  margin: 0;
  background: white;
  max-height: 21rem;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #fff;
  }

  &::-webkit-scrollbar {
    width: .5rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 1px solid #000;
  }

  .listElement {
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 1rem;

    span {
      margin: .25rem 0;
      display: block;
      font-size: .825rem;
    }

    .title {
      font-weight: 600;
      font-size: 1rem;
      display: block;
      margin: .375rem 0 0;
    }

    .trashType {
    }
  }
}

.background {
  background: white;
} 