@import "../../assets/styles/styles";

@keyframes showMenu {
  0% {
    width: 60px;
  }

  100% {
    width: 350px;
  }
}

@keyframes hideMenu {
  0% {
    width: 350px;
  }
  100% {
    width: 60px;
  }
}

.menuContainer {
  min-height: 950px;
  height: 100vh;
  background-color: $secondary-color;

  &Active {
    z-index: 999;
    width: 350px;
    animation: showMenu 0.7s ease;
    background-color: $secondary-color;
  }

  &Disabled {
    z-index: 999;
    width: 50px;
    animation: hideMenu 0.3s ease;
    background-color: $secondary-color;
  }
}

.menuLabel {
  background-color: $primary-color;
  width: 100%;
  height: 45px;
  display: inline-flex;
  justify-content: flex-start;
}

.inuptGroup {
  margin: .5rem 0;
}
