.cardStyles {
  margin: 1rem;
}

.rfidContainer {
  cursor: pointer;
}

.headerContainer {
  display: inline-flex;
  width: 100%;
}

.arrowImage {
  padding-top: 1px;
  margin-right: 5px;
}

.animateArrow {
  animation: animateArrow 3s ease;
}

.searchContainer {
  margin-top: 1rem;
}

.buttonImage {
  position: relative;
  top: -35px;
  right: 10px;
}
