//variables

$border-radius: 3px;
$border-width: 1px;
$transition-time: .3s;
$primary-color: #083D77;
$secondary-color: #84828F;

// font sizes
$fs-h1: 70px;
$fs-h2: 60px;
$fs-h3: 50px;
$fs-h4: 40px;
$fs-h5: 30px;
$fs-h6: 25px;
$fs-h7: 20px;
$fs-h8: 15px;
$fs-h9: 10px;
$fs-h10: 5px;
